@import url('https://fonts.googleapis.com/css2?family=Mystery+Quest&family=Raleway&display=swap');

$main-header-font: 'Mystery Quest', cursive;
$subheader-font: 'Mystery Quest', sans-serif;
$body-font: 'Raleway', Arial, sans-serif;

$colour1 : #EA160A;
$colour2 : #EE6400;
$colour3 : #FFBF07;
$colour4 : #FFF65D;
$colour5 : #59AF3B;
$colour6 : #52327B;
